body {
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

.container {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

#map-container {
  height: 100%;
  width: 75%;
}

#map {
  height: 100%;
  width: 100%;
}

#sidebar {
  height: 100%;
  flex-grow: 1;
  padding: 10px;
  text-align: center;
}

form {
  display: block;
  text-align: left;
}

label {
  display: block;
  margin-top: 10px;
}