html {
  width: 100%;
  height: 100%;
}

body {
  font: 13px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #eee;
  width: 100%;
  height: 100%;
  min-height: 600px;
}

.container-fluid {
  height: 100%;
}

#map {
  height: calc( 100% - 300px ); 
  width: 100%;
/*  position: absolute;
  background: #fff;
  margin:0;*/
}

.range-bar {
  margin: 20px 0;
}

.instruction {
  margin: 20px 0;
}

.axisLabel {
    position: absolute;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
}

.xaxisLabel {
    bottom: 10px;
    left: 0;
    right: 0;
}

.yaxisLabel {
    top: 50%;
    left: 2px;
    font-weight: bold;
    transform: rotate(-90deg);
    -webkit-transform:  rotate(-90deg);
    transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
}


.legend table, .legend > div {
  height: 35px !important;
  opacity: 1 !important;
  right: -55px;
  top: 10px;
  width: 116px !important;
}

.legend table {
  border: 1px solid #555;
  padding: 5px;
}

#flot-tooltip {
  font-size: 12px;
  font-family: Verdana, Arial, sans-serif;
  position: absolute;
  display: none;
  padding: 2px;
  background-color: #FFF;
  opacity: 1;
  border: 1px solid #aaa;
  -moz-box-shadow: 0px 1px 1px #ddd;
  -webkit-box-shadow: 0px 1px 1px #ddd;
  box-shadow: 0px 1px 2px #ddd;
}

html.is-iframed-demo .container-fluid {
  padding-left: 0;
  padding-right: 0;
}


@media (max-width: 767px) {
  html.is-iframed-demo #map {
    height: calc( 100% - 550px );
  }
}

html.is-iframed-demo .not-map-part {
  max-width: 900px;
  margin: 0 auto;
}

html.is-iframed-demo .hide-if-iframed {
  display: none;
}
