<html class="optimized_route-widget" data-ng-app="optimized_route">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.1/dist/leaflet.css" />
  <link rel="stylesheet" href="../routing/css/leaflet-routing-machine.css" />
  <link rel="stylesheet" href="css/classic.css" />
  <link rel="stylesheet" href="css/leaflet.label.css" />
  <link rel="stylesheet" href="../routing/css/valhalla.css" />
  <link rel="stylesheet" href="css/optimized_route.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet-geocoder-mapzen/1.4.1/leaflet-geocoder-mapzen.css">

  <script src="conf/env.conf"></script>
  <!-- Main tangram library -->
  <script src='https://mapzen.com/tangram/0.10/tangram.min.js'></script>
  <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
  <script src="js/jquery.columns.min.js"></script>
</head>
<body>

<div class="container-fluid row" ng-controller="OptimizedRouteController">
  <div id="controls" class = "control-container">
    <img src="../routing/images/turnbyturnlogo.png" alt="logo">
    <!---------control view ------>
    <div ng-hide="appView == 'tspTable'" class = "not-table ng-hide">
      <div class = "btnWrapper">
          <div class = "routingBtns">
              <div class="vehicleBox" id="vehicleoptions">
                  <button ng-click="setMode('multimodal')" name="multimodal"
                          class = "{{mode == 'multimodal' ? 'active ' : ''}}vehicle pedestrian">Multi</button>

                  <button ng-click="setMode('auto')" name="auto"
                          class = "{{mode == 'auto' ? 'active ' : ''}}vehicle auto"> </button>

                  <button ng-click="setMode('bicycle')" name="bike"
                          class = "{{mode == 'bicycle' ? 'active ' : ''}}vehicle bike"> </button>

                  <button ng-click="setMode('pedestrian')" name="pedestrian"
                          class = "{{mode == 'pedestrian' ? 'active ' : ''}}vehicle pedestrian"> </button>
              </div>
              <button ng-click="clearAll()" class="plain" id="clear_btn" type="button">Clear All</button>
          </div>
      </div>

      <div class="endPointsWrapper">
          <h4 class="instruction"> Options </h4>
          <p>Radius: <input type="text" id="radius" value=""/></p>
      </div>

      <div class="geojsonWrapper">
          <h4 class="instruction"> GeoJSON </h4>
          <textarea id="geojson" name="geojson" cols="40" rows="5"></textarea>
          <input id="geojson_match" type="button" value="Match">
      </div>

      <div class = "endPointsWrapper">
        <div class="end" id="end" name="end">
          <h4 class="instruction"> Locations </h4>
          <ol>
            <li ng-repeat="point in endPoints">
              <div class = "end marker">{{point.index}}</div>
              <span class = "geocode"> {{point.latlon}}</span>
            </li>
            <li ng-hide="endPoints.length != 0">
              <div class = "end marker"></div>
              <span class = "placeholder geocode"> <i>{{endgeocode}}</i></span>
            </li>
          </ol>
          <div class="end_mapInstruction"> {{end_mapInstruction}} </div>
        </div>
        <div ng-show = "matrixType == ''||editingFocus=='start_points'" class = "block pointsBlocker"></div>
      </div>
    </div>

    <!---------table view ------>
    <div ng-hide="appView == 'control'" class = "tableView ng-hide">
      <button class = "plain" ng-click="backToControlView()"> &lt; Back</button>
      <div id="columns"></div>
      <div class="routingBtns">
        <button  class="btnMatrix"s ng-click="clearAll()"> start over </button>
      </div>
      <div id='permalink' style='display:inline-block;'></div><br>
      <div id="optimized_routeResponse" style="display:inline-block;">JSON Optimized Route Response Link</div>
    </div>
  </div>
  <div id="route_inst" ng-bind-html="renderHtml(route_instructions)"></div>
  <div id="map"></div>

<script type="text/javascript" src="https://unpkg.com/leaflet@1.0.1/dist/leaflet.js"></script>
<script type="text/javascript" src="../routing/js/leaflet-hash.js"></script>

<script src="../matrix/js/leaflet.label.js"></script>
<script type="text/javascript" src="js/map_matching.js"></script>
<script type="text/javascript" src="js/main.js"></script>
<script src='../routing/dist/leaflet-routing-machine.js'></script>
<script src='../routing/dist/lrm-mapzen-optimized-route-patched.js'></script>
<script type="text/javascript" src="js/locate/L.Locate.js"></script>

<!-- Load geocoding plugin after Leaflet -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-geocoder-mapzen/1.4.1/leaflet-geocoder-mapzen.js"></script>

<script type="text/javascript">
  // Apply special root-element class for iframed demo situations
  if (window.self !== window.top) {
    document.documentElement.className += ' is-iframed-demo';
  }
  window.addEventListener("hashchange",function(){parent.postMessage(window.location.hash, "*")});
</script>
</body>
</html>
