<html class="matrix-widget" data-ng-app="matrix">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

  <link rel="stylesheet" href="https://unpkg.com/leaflet@0.7.7/dist/leaflet.css" />
  <link rel="stylesheet" href="css/classic.css" />
  <link rel="stylesheet" href="css/leaflet.label.css" />
  <link rel="stylesheet" href="css/matrix.css" />
  <script src="conf/env.conf"></script>
  <script type="text/javascript" src="https://unpkg.com/jquery@1.12.4/dist/jquery.min.js"></script>
  <script type="text/javascript" src="https://unpkg.com/angular@1.8.3/angular.min.js"></script>
</head>

<body>
  <div id="container" ng-controller="MatrixController">
    <div id="controls" class="control-container">
      <img src="../routing/images/Valhalla.png" height="175" width="175" alt="Valhalla Logo">
      <!---------control view ------>
      <div ng-hide="appView == 'matrixTable'" class="not-table ng-hide">
        <div class="matrixResultWrapper">
          <div class="start" id="start" name="start">
            <h4 class="instruction"> 2. Add source(s) </h4>
            <ol>
              <li id="startpt" ng-repeat="point in startPoints">
                <div class="start marker">{{ $index}}</div>
                <span class="geocode"> {{ point.lat }}, {{ point.lon }}</span>
              </li>
              <li ng-hide="startPoints.length != 0">
                <div class="start marker"></div>
                <span class="placeholder geocode"> <i>{{startgeocode}}</i></span>
              </li>
            </ol>
            <button ng-show="editingFocus == 'start_points'" ng-click="goToEndPoints()" class="done"> Next &gt;
            </button>
          </div>
          <div ng-show="editingFocus=='end_points'" class="block pointsBlocker"></div>
          <!--<div class = "{{editingFocus == 'start' ? '' : 'block'}} pointsBlocker"></div>-->
        </div>

        <div class="endPointsWrapper">
          <div class="end" id="end" name="end">
            <h4 class="instruction"> 3. Add target(s) </h4>
            <ol>
              <li ng-repeat="point in endPoints">
                <div class="end marker">{{ $index}}</div>
                <span class="geocode"> {{ point.lat }}, {{ point.lon }}</span>
              </li>
              <li ng-hide="endPoints.length != 0">
                <div class="end marker"></div>
                <span class="placeholder geocode"> <i>{{endgeocode}}</i></span>
              </li>
            </ol>
            <div class="end_mapInstruction"> {{end_mapInstruction}} </div>
          </div>
          <div ng-show="editingFocus=='start_points'" class="block pointsBlocker"></div>
        </div>

        <div class="btnWrapper">
          <button ng-click="clearAll()" class="plain" id="clear_btn" type="button">Clear All</button>
          <div class="routingBtns">
            <div class="vehicleBox" id="vehicleoptions">
              <button ng-click="setMode('auto')" name="auto" class="{{mode == 'auto' ? 'active ' : ''}}vehicle auto">
              </button>
              <button ng-click="setMode('bicycle')" name="bike"
                class="{{mode == 'bicycle' ? 'active ' : ''}}vehicle bike"> </button>
              <button ng-click="setMode('pedestrian')" name="pedestrian"
                class="{{mode == 'pedestrian' ? 'active ' : ''}}vehicle pedestrian"> </button>
            </div>
            <button id="matrix_btn" class="btnMatrix" type="button">View Matrix</button>
          </div>
        </div>
      </div>
      <h5><b><a target="_blank" href='https://valhalla.github.io/valhalla/api/matrix/api-reference/'>
            Time-Distance Matrix API reference
          </a></b></h5>
      <div ng-hide="appView == 'control'" class="tableView ng-hide">
        <table id="matrix-result-table">
          <thead>
            <tr>
              <th>From</th>
              <th>To</th>
              <th>Time (secs)</th>
              <th>Distance (km)</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="row in matrixResult">
              <td style="background-color: #000; color: #fff;">{{ row.from_index }}</td>
              <td style="background-color: #68c175; color: #fff;">{{ row.to_index }}</td>
              <td>{{ row.time }}</td>
              <td>{{ row.distance }}</td>
            </tr>
          </tbody>
        </table>
        <div class="routingBtns">
          <button class="plain" ng-click="backToControlView()"> &lt; Back</button>
          <button class="btnMatrix" ng-click="clearAll()"> start over </button>
        </div>
        <a id="matrixResponseLink" style="display:inline-block;">JSON Matrix Response Link</a>
      </div>
    </div>
    <div id="map-container">
      <div id="map"></div>
    </div>
  </div>

  <script type="text/javascript" src="https://unpkg.com/leaflet@0.7.7/dist/leaflet.js"></script>
  <script src="js/leaflet.label.js"></script>
  <script type="text/javascript" src="../routing/js/leaflet-hash.js"></script>
  <script type="text/javascript" src="js/matrix.js"></script>

  <script type="text/javascript">
    // Apply special root-element class for iframed demo situations
    if (window.self !== window.top) {
      document.documentElement.className += ' is-iframed-demo';
    }
    window.addEventListener("hashchange", function () { parent.postMessage(window.location.hash, "*") });
  </script>
</body>

</html>