ul.locations.shortcuts {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

ul.locations.shortcuts li a, .leaflet-control-locations.expanded .leaflet-bar-part.leaflet-bar-part-single {
	width:100%;
	border-radius: 0px;
	cursor:pointer;
}

ul.locations.shortcuts li a {
	text-decoration: line-through;
	width: 140px;
}

ul.locations.shortcuts li a.haunting {
	text-decoration: none;
}