.leaflet-routing-container {
      min-width: 400px;
      width: 25%;
      max-width: 500px;
      background-color: rgba(255,255,255,0.8);
      font-family: "Open Sans";
      transition: all 0.8s ease;
    }

    .leaflet-control-container .leaflet-routing-container-hide {
      width: 32px;
      height: 32px;
    }

    .leaflet-routing-container .start {
      font-size: 18px;
      min-height: 40px;
      line-height: 60px;
      padding-left: 50px;
      background-image: url('../resource/startmarker@2x.png');
      background-repeat: no-repeat;
      background-position: 5px 8px;
      letter-spacing: 0.5px;
    }

    .leaflet-routing-container .dest{
      font-size: 18px;
      line-height:60px;
      min-height:40px;
      padding-left:50px;
      background-image: url('../resource/destmarker@2x.png');
      background-repeat: no-repeat;
      background-position: 5px 8px;
      letter-spacing: 0.5px;
    }

    .leaflet-routing-container .info{
      font-size:14px;
      line-height:40px;
      min-height:40px;
      margin-top:5px;
      padding-left:45px;
      background: #25A5FA;
      color: #fff;
      letter-spacing:1.1px;
      background-repeat: no-repeat;
      background-position: 8px 5px;
    }

    .leaflet-routing-container .info.auto{
      background-image: url('../resource/drive.png');
    }
    .leaflet-routing-container .info.bicycle{
      background-image: url('../resource/bike.png');
    }
    .leaflet-routing-container .info.pedestrian{
      background-image: url('../resource/walk.png');
    }

    .leaflet-routing-alt{
      /* padding: 5px; */
      border-bottom: 1px solid #ccc;
      max-height: 320px;
      overflow-y: auto;
      transition: all 0.2s ease;
    }

    .leaflet-control-container .leaflet-routing-container-hide .leaflet-routing-alt,
    .leaflet-control-container .leaflet-routing-container-hide .leaflet-routing-geocoders {
        display: none;
    }

    .leaflet-bar .leaflet-routing-alt:last-child {
      border-bottom: none;
    }
    .leaflet-bar a:first-child{
      border-radius: 0px;
    }

    .leaflet-bar a:last-child{
      border-radius: 0px;
    }

    .leaflet-routing-alt-minimized {
      color: #888;
      max-height: 64px;
      overflow: hidden;
      cursor: pointer;
    }

    .leaflet-routing-alt table {
      font-size:14px;
      font-family: "Open Sans",Arial;
      border-collapse: collapse;
    }

    .leaflet-routing-alt tr{
      min-height:40px;
      height:40px;
      border-bottom:1px solid #eee;
    }

    .leaflet-routing-alt tr:hover {
        background-color: #eee;
        cursor: pointer;
    }

    .leaflet-routing-alt tr:last-child{
      border-bottom: 0px;
    }

    .leaflet-routing-alt td.guide {
      width: 100%;
      padding-left: 10px;
      padding-right: 10px;
    }
    .leaflet-routing-alt td.measure {
      min-width:60px;
    }
    
    .leaflet-routing-alt ul.verbal_alert, ul.verbal_depart, ul.verbal_arrive, ul.verbal_pre, ul.verbal_post {
      color: #2E64FE;
      font-style: italic;
      font-size: 12px;
      margin: 5px;
    }
    
    .leaflet-routing-alt ul.depart_instr, ul.arrive_instr {
      color: #8A0808;
      font-size: 12px;
      margin: 5px;
      font-weight: bold;
    }
    
    .leaflet-routing-alt::-webkit-scrollbar {
      width: 8px;
    }

    .leaflet-routing-alt::-webkit-scrollbar-track {
      border-radius: 2px;
      background-color: #eee;
    }

    .leaflet-routing-alt::-webkit-scrollbar-thumb {
      border-radius: 2px;
      background-color: #888;
    }

    .leaflet-routing-icon {
      -webkit-background-size: 240px 20px;
      background-size: 240px 20px;
      background-repeat: no-repeat;
      margin: 0;
        content: '';
        display: inline-block;
        vertical-align: top;
        width: 20px;
        height: 20px;
    }

    .leaflet-routing-icon-continue         { background-position: 0 0; }
    .leaflet-routing-icon-sharp-right      { background-position: -20px 0; }
    .leaflet-routing-icon-turn-right       { background-position: -40px 0; }
    .leaflet-routing-icon-bear-right       { background-position: -60px 0; }
    .leaflet-routing-icon-u-turn           { background-position: -80px 0; }
    .leaflet-routing-icon-sharp-left       { background-position: -100px 0; }
    .leaflet-routing-icon-turn-left        { background-position: -120px 0; }
    .leaflet-routing-icon-bear-left        { background-position: -140px 0; }
    .leaflet-routing-icon-depart           { background-position: -160px 0; }
    .leaflet-routing-icon-enter-roundabout { background-position: -180px 0; }
    .leaflet-routing-icon-arrive           { background-position: -200px 0; }
    .leaflet-routing-icon-via              { background-position: -220px 0; }

    .leaflet-top{
      top:100px;
    }

    .leaflet-bar{
      box-shadow: none;
      border-radius:0;
      border:1px solid #ccc;
    }

    .mobile-route{
      display:none;
    }

    @media only screen and (max-width: 768px) {
      .leaflet-top{
        top:50px;
        height: calc(100% - 50px);
      }
      .leaflet-control-container, .leaflet-routing-alternatives-container, .leaflet-routing-alt{
        height:100%;
        max-height:100%;
      }
      .leaflet-routing-container {
        margin: 0 !important;
        padding: 0 !important;
        min-width: 100%;
        max-width: 100%;
        min-height:100%;
        height:100%;
        max-height:100%;
        left:100%;
      }

      .left-align{
        left:0px !important;
      }

      .mobile-route{
        display:block;
        left: calc(100% - 60px);
        min-width: 40px;
        min-height: 40px;
        background-color: rgba(205, 205, 205, 0.8);
        top: 60px;
        position: absolute;
        background-repeat: no-repeat;
        background-position: center;
        cursor:pointer;
        z-index:1030;
      }
      .show-route{ background-image: url("../resource/show.png");}
      .hide-route{ background-image: url("../resource/hide.png");}

    }