body {
  font: 13px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 0px;
  margin: 0px;
  background-color: #E6E6E6;
}

#map {
  height:100vh;
  width: 100%;
/*  position: absolute;
  background: #fff;
  margin:0;*/
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #A4A4A4;
}

.modes {
  width:20px;
  height:20px;
}

#instructions h1, h2, h3, h4, h5, h6 {
    color:black;
}

div#route_inst {
  height: auto;
  overflow: auto;
  color: #ccc;
  border-collapse: collapse;
}

div#route_inst table td.distance{
  width: 60px;
  text-align: right;
}

.leaflet-control td.guide {
    padding: 3px;
    word-wrap: break-word;
    width: 270px;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
}

.leaflet-control td.measure {
    padding: 3px;
    word-wrap: break-word;
    width: 60px;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
}

.biketextbox, .scootertextbox, .transittextbox {
  width: 18%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  color: black;
}

##hidechart {
  min-width: 30px;
  text-align: center;
}

#drive_btn, #bike_btn, #walk_btn, #motor_scooter_btn, #motorcycle_btn, #multi_btn, #elevation_btn, #truck_btn {
  border-color: #A4A4A4;
  background-color: #A4A4A4;
  color: #fff;
}

#clearbtn {
  width: 120px;
  text-align: center;
}

#clear_btn {
  border-color: #d4645c;
  background-color: #d4645c;
  color: #fff;
}

#routeResponse {
  margin-top: 30px;
  margin-bottom: 10px;
}

.reset {
  border-color: #d4645c;
  background-color: #d4645c;
  color: #fff;
  float: left;
  padding: 10px 26px;
  border: 1px solid #68c175;
  text-transform: uppercase;
}

#inputFile {
    border: 0 none;
    color: #FFFFFF;
    font-size: 12px;
    width: 350px;
    margin-bottom: 10px;
}

#fileSelector {
    color: #000000;
    overflow: hidden;
    width: 350px;
    -moz-border-radius: 9px 9px 9px 9px;
    -webkit-border-radius: 9px 9px 9px 9px;
    border-radius: 8px 8px 9px 9px;
    box-shadow: 1px 1px 11px #330033;
    /*background: url("arrow.gif") no-repeat scroll 319px 5px #A4A4A4;*/
}

#flot-tooltip {
  font-size: 12px;
  font-family: Verdana, Arial, sans-serif;
  position: absolute;
  display: none;
  padding: 2px;
  background-color: #FFF;
  opacity: 1;
  border: 1px solid #aaa;
  -moz-box-shadow: 0px 1px 1px #ddd;
  -webkit-box-shadow: 0px 1px 1px #ddd;
  box-shadow: 0px 1px 2px #ddd;
}
