body {
  font: 14px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 0px;
  margin: 0px;
  background-color: black;
}

#map {
  height:100vh;
  width: 100%;
/*  position: absolute;
  background: #fff;
  margin:0;*/
}

.modes {
  width:20px;
  height:20px;
}

#instructions h1, h4 {
    color:white;
}

div#route_inst {
  height: 50vh;
  overflow: auto;
  color: #ccc;
}

div#route_inst table td.distance{
  width: 60px;
  text-align: right;
}

.leaflet-control td.guide {
    padding: 3px;
    word-wrap: break-word;
    width: 270px;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
}

.leaflet-control td.measure {
    padding: 3px;
    word-wrap: break-word;
    width: 60px;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
}

.biketextbox {
  width: 15%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  color: black;

}

#elevation_btn {
  width: 120px;
}

#graph{
  width: 20px;
  height: 225px;
  position: right;
  margin: 0 auto;
  background-color: #FFF;
}

.legend table, .legend > div {
  height: 35px !important;
  opacity: 1 !important;
  right: -55px;
  top: 10px;
  width: 116px !important;
}

.legend table {
  border: 1px solid #555;
  padding: 5px;
}

#flot-tooltip {
  font-size: 14px;
  font-family: Verdana, Arial, sans-serif;
  position: absolute;
  display: none;
  padding: 2px;
  background-color: #FFF;
  opacity: 1;
  border: 1px solid #aaa;
  -moz-box-shadow: 0px 1px 1px #ddd;
  -webkit-box-shadow: 0px 1px 1px #ddd;
  box-shadow: 0px 1px 2px #ddd;
}

#clearbtn {
  width: 120px;
  text-align: center;
}